<h1> Best Buy Data Collection </h1>


<h3>API ENDPOINTS </h3>

<ul>
  <li>
    <div class="api-item">
      <p>/collections</p>
      <p>EXAMPLE: api/collections?query=smart+tv</p>
      <p>Will perform data collection from bestbuy.com with search term "smart tv" and output collected data in JSON format</p>
    </div>
  </li>

  <li>
    <div class="api-item">
      <p>/collections/data.csv</p>
      <p>EXAMPLE: api/collections/data.csv?query=brand</p>
      <p>EXAMPLE: api/collections/data.csv?query=data</p>
      <p>EXAMPLE: api/collections/data.csv?query=product</p>
      <p>Will output Brand table from database into csv format</p>
    </div>
  </li>

  <li>
    <div class="api-item">
      <p>/collections/data_fetches</p>
      <p>EXAMPLE: api/collections/data_fetches</p>
      <p>Will output all collected data from DataFetch table in JSON format</p>
    </div>
  </li>

  <li>
    <div class="api-item">
      <p>/collections/data_fetch</p>
      <p>EXAMPLE: apiapi/collections/data_fetch?date=2017/9/4</p>
      <p>Will output all collected data from DataFetch table matching the date provided in the query string in JSON format</p>
    </div>
  </li>

  <li>
    <div class="api-item">
      <p>/collections/brands</p>
      <p>EXAMPLE: api/collections/brands</p>
      <p>Will output Brand table in JSON format</p>
    </div>
  </li>

  <li>
    <div class="api-item">
      <p>/collections/brand</p>
      <p>EXAMPLE: api/collections/brand?brand=Samsung</p>
      <p>Will output data from Brand table matching name with the provided query string in JSON format</p>
    </div>
  </li>

  <li>
    <div class="api-item">
      <p>/collections/products</p>
      <p>EXAMPLE: api/collections/products</p>
      <p>Will output Product table in JSON format</p>
    </div>
  </li>

  <li>
    <div class="api-item">
      <p>/collections/product</p>
      <p>EXAMPLE: api/collections/product?model=UN65MU8500FXZA</p>
      <p>Will output data from Product table matching model with provided query string in JSON format</p>
    </div>
  </li>


</ul>
